@model IEnumerable<PizzaBox.Web.Models.StorePizzaViewModel>

@{
    ViewData["Title"] = "Menu";
}

<h1>@Html.DisplayFor(m => m.First().StoreName)</h1>

<p>
    <a asp-action="Custom">Create Your Own</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sauce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cheese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toppings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Crust)

            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Sauce)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cheese)
            </td>

            <td>
                <ul>
                    @foreach (var topping in item.Toppings)
                    {
                        <li>@topping</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <form asp-action="Preset">
                <input type="submit" value="Add" class="btn btn-primary" />
            </form>
        </tr>
        }
    </tbody>
</table>