@model IEnumerable<PizzaBox.Web.Models.UserOHistoryViewModel>



@{

    ViewData["Title"] = "OrderHistory";

}



<h1>OrderHistory</h1>







<div class="panel-group" id="accordion">

    @foreach (var item in Model)

    {



        <div class="panel panel-default">

            <div class="card-header" role="tab" id="headingOne">

                <h4 class="panel-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@item.OrderId.ToString()">

                        <span>Order# @item.OrderId</span>

                        <span style="float:right">@item.OrderDate.ToShortDateString()</span>

                        <p></p>

                        <span>Store: @item.StoreName</span>

                        <span style="float:right">Subtotal: @item.Subtotal.ToString("0.00")</span>

                    </a>

                </h4>

            </div>

            <div id="collapseOne_@item.OrderId.ToString()" class="panel-collapse collapse in">

                <div class="card-block">

                    <p>Total pizzas: @item.Pizzas.Count</p>

                    <ul>

                        @for (int i = 0; i < item.Pizzas.Count; i++)

                        {

                            <p>Pizza# @i</p>

                            <li> Crust: @item.Pizzas[i].Crust.Name</li>

                            <li> Cheese: @item.Pizzas[i].Cheese.Name</li>

                            <li> Sauce: @item.Pizzas[i].Sauce.Name</li>

                            <li> Size: @item.Pizzas[i].Size.SizeName</li>

                            <li> Toppings: @item.Pizzas[i].Topping.Name</li>

                            <hr />

                        }

                    </ul>

                    <hr />

                </div>

            </div>

        </div>

    }



</div>